{% extends 'base.html.twig' %}

{% block title %}MAMYSTÉRIK - CONNEXION{% endblock %}

 {% block stylesheets %}
     <link href="{{ asset('css/form.css') }}" rel="stylesheet" type="text/css"> <!-- LINK CSS FORM -->
 {% endblock %}

{% block body %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <form method="post" id="formConnexion">
            <img class="imgForm mamie2" src="{{ asset('img/items/mamie1.svg') }}" alt="Mamie 1">
            <img class="imgForm mamie1" src="{{ asset('img/items/mamie2.svg') }}" alt="Mamie 2">

            <div class="input">
                <label for="inputEmail">Email</label>
                <input autocomplete="off" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="inputForm" required autofocus>
            </div>

            <div class="input">
                <label for="inputPassword">Mot de passe</label>
                <input autocomplete="off" type="password" name="password" id="inputPassword" class="inputForm" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn submit" type="submit">Connexion</button>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
{#
            <a href="{{ path('app_register') }}">S'inscrire</a>
#}
        </form>
    {% endif %}
{% endblock %}
