{% if (adversaire.actions['OFFRE']) and (adversaire.actions['OFFRE'] != 'done') %}
    <div class="choix">
        <h3>Choississez l'une de ces cartes</h3>
            <div class="choixCard">
                <input type="checkbox" name="carte_offre" id="carte{{ adversaire.actions['OFFRE'][0] }}" value="{{ adversaire.actions['OFFRE'][0] }}" style="display: none" class="choixOther">
                <label for="carte{{ adversaire.actions['OFFRE'][0] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[adversaire.actions['OFFRE'][0]].picture) }}.png"></label>
                <input type="checkbox" name="carte_offre" id="carte{{ adversaire.actions['OFFRE'][1] }}" value="{{ adversaire.actions['OFFRE'][1] }}" style="display: none" class="choixOther">
                <label for="carte{{ adversaire.actions['OFFRE'][1] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[adversaire.actions['OFFRE'][1]].picture) }}.png"></label>
                <input type="checkbox" name="carte_offre" id="carte{{ adversaire.actions['OFFRE'][2] }}" value="{{ adversaire.actions['OFFRE'][2] }}" style="display: none" class="choixOther">
                <label for="carte{{ adversaire.actions['OFFRE'][2] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[adversaire.actions['OFFRE'][2]].picture) }}.png"></label>
            </div>
        <button id="valider">Valider</button>
    </div>
    <script>
            $(':checkbox.choixSecret').prop('checked', false).prop('disabled', false)
            action = 'offreValid'
            $('.cardY.Choose').addClass('select')

            $("input:checkbox").click(function () {
                let bol = $("input:checkbox:checked").length >= 1
                $("input:checkbox").not(":checked").attr("disabled", bol)
            });
    </script>
{% endif %}

{% if (adversaire.actions['ECHANGE']) and (tour == 'moi') and (adversaire.actions['ECHANGE'] != 'done') %}
    <div class="choix">
        <h3>Choississez une paire</h3>
        <div class="choixCard">
            <input type="checkbox" name="carte_echangeGroup" id="carteGroupe1" value="group1" style="display: none" class="choixOther">
            <label for="carteGroupe1" class="labelCard">
                {% for card in adversaire.actions['ECHANGE']['group1'] %}
                    <img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[card].picture) }}.png">
                {% endfor %}
            </label>
            <input type="checkbox" name="carte_echangeGroup" id="carteGroupe2" value="group2" style="display: none" class="choixOther">
            <label for="carteGroupe2" class="labelCard">
                {% for card in adversaire.actions['ECHANGE']['group2'] %}
                    <img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[card].picture) }}.png">
                {% endfor %}
            </label>
        </div>
        <button id="valider">Valider</button>
    </div>
    <script>
        $(':checkbox.choixSecret').prop('checked', false).prop('disabled', false)
        action = 'echangeValid'
        $('.cardY.Choose').addClass('select')

        $("input:checkbox").click(function () {
            let bol = $("input:checkbox:checked").length >= 1
            $("input:checkbox").not(":checked").attr("disabled", bol)
        });
    </script>
{% endif %}

{% if (moi.actions['ECHANGE']) and (tour == 'moi') and (moi.actions['ECHANGE'] != 'done') %}
    <div class="choix">
        <h3>Choississez deux carte pour les grouper</h3>
        <div class="choixCard">
            <input type="checkbox" name="carte_echange" id="carte{{ moi.actions['ECHANGE'][0] }}" value="{{ moi.actions['ECHANGE'][0] }}" style="display: none" class="choixOther">
            <label for="carte{{ moi.actions['ECHANGE'][0] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[moi.actions['ECHANGE'][0]].picture) }}.png"></label>
            <input type="checkbox" name="carte_echange" id="carte{{ moi.actions['ECHANGE'][1] }}" value="{{ moi.actions['ECHANGE'][1] }}" style="display: none" class="choixOther">
            <label for="carte{{ moi.actions['ECHANGE'][1] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[moi.actions['ECHANGE'][1]].picture) }}.png"></label>
            <input type="checkbox" name="carte_echange" id="carte{{ moi.actions['ECHANGE'][2] }}" value="{{ moi.actions['ECHANGE'][2] }}" style="display: none" class="choixOther">
            <label for="carte{{ moi.actions['ECHANGE'][2] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[moi.actions['ECHANGE'][2]].picture) }}.png"></label>
            <input type="checkbox" name="carte_echange" id="carte{{ moi.actions['ECHANGE'][3] }}" value="{{ moi.actions['ECHANGE'][3] }}" style="display: none" class="choixOther">
            <label for="carte{{ moi.actions['ECHANGE'][3] }}" class="labelCard"><img class="card cardY Choose" src="{{ asset('img/cartes/'~cards[moi.actions['ECHANGE'][3]].picture) }}.png"></label>

        </div>
        <button id="valider">Valider</button>
    </div>
    <script>
        $(':checkbox.choixSecret').prop('checked', false).prop('disabled', false)
        action = 'echangeGroup'
        $('.cardY.Choose').addClass('select')

        $("input:checkbox").click(function () {
            let bol = $("input:checkbox:checked").length >= 2
            $("input:checkbox").not(":checked").attr("disabled", bol)
        });
    </script>
{% endif %}


<div id="adversaire">
    <div class="main" id="mainA">
        {% for card in adversaire.handCards %}
            <label for="" class="labelCard"><img class="card cardA" src="{{ asset('img/cartes/dos.png') }}"></label>
        {% endfor %}
    </div>
    <div class="divAction" id="actionA">
        {% if adversaire.actions['SECRET']==false %}
            <button class="action" id="secretA"><img src="{{ asset('img/jetons/secret.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% else %}
            <button class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/secret.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% endif %}

        {% if adversaire.actions['DEPOT']==false %}
            <button  class="action" id="depotA"><img src="{{ asset('img/jetons/depot.svg') }}" alt="Action Depot"><span>Dépôt</span></button>
        {% else %}
            <button class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/depot.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% endif %}

        {% if adversaire.actions['OFFRE']==false %}
            <button  class="action" id="offreA"><img src="{{ asset('img/jetons/offre.svg') }}" alt="Action Offre"><span>Offre</span></button>
        {% else %}
            <button class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/offre.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% endif %}

        {% if adversaire.actions['ECHANGE']==false %}
            <button  class="action" id="echangeA"><img src="{{ asset('img/jetons/echange.svg') }}" alt="Action Echange"><span>Échange</span></button>
        {% else %}
            <button class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/echange.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% endif %}
    </div>
</div>

<div id="table">
    <div id="pioche">
        <div id="cardPioche">
            <img class="cardPiocheOther" src="{{ asset('img/cartes/dos.png') }}" alt="carte dos">
            <img class="cardPiocheOther1" src="{{ asset('img/cartes/dos.png') }}" alt="carte dos">
            <img class="cardPiocheOther2" src="{{ asset('img/cartes/dos.png') }}" alt="carte dos">
        </div>
        <div id="infoJ">

        </div>

    </div>
    <div id="carteTable">
        <img class="card" src="{{ asset('img/cartes/religieuse.png') }}" alt="religieuse">
        <img class="card" src="{{ asset('img/cartes/cupcake.png') }}" alt="cupcake">
        <img class="card" src="{{ asset('img/cartes/babaRhum.png') }}" alt="babaRhum">
        <img class="card" src="{{ asset('img/cartes/carrotCake.png') }}" alt="carrotCake">
        <img class="card" src="{{ asset('img/cartes/rainbowCake.png') }}" alt="rainbowCake">
        <img class="card" src="{{ asset('img/cartes/tarteCitron.png') }}" alt="tarteCitron">
        <img class="card" src="{{ asset('img/cartes/pieceMontee.png') }}" alt="pieceMontee">
        <div id="infoJ2"></div>
        <button id="valider" style="display: none">Valider action</button>
    </div>

</div>

<div id="you">
    <div class="main" id="mainY">
        {% for card in moi.handCards %}
            <input type="checkbox" name="carte_secret" id="carte{{ card }}" value="{{ card }}" style="display: none" class="choixSecret">
            <label for="carte{{ card }}" class="labelCard"><img class="card cardY" src="{{ asset('img/cartes/'~cards[card].picture) }}.png"></label>
        {% endfor %}
    </div>

    <div class="divAction" id="actionY">
        {% if moi.actions['SECRET']==false %}
            <button class="action" id="secretY"><img src="{{ asset('img/jetons/secret.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% else %}
            <button class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/secret.svg') }}" alt="Action Secret"><span>Secret</span></button>
        {% endif %}

        {% if moi.actions['DEPOT']==false %}
            <button  class="action" id="depotY"><img src="{{ asset('img/jetons/depot.svg') }}" alt="Action Depot"><span>Dépôt</span></button>
        {% else %}
            <button  class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/depot.svg') }}" alt="Action Depot"><span>Dépôt</span></button>
        {% endif %}

        {% if moi.actions['OFFRE']==false %}
            <button  class="action" id="offreY"><img src="{{ asset('img/jetons/offre.svg') }}" alt="Action Offre"><span>Offre</span></button>
        {% else %}
            <button  class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/offre.svg') }}" alt="Action Offre"><span>Offre</span></button>
        {% endif %}

        {% if moi.actions['ECHANGE']==false %}
            <button  class="action" id="echangeY"><img src="{{ asset('img/jetons/echange.svg') }}" alt="Action Echange"><span>Échange</span></button>
        {% else %}
            <button  class="action" style="filter: grayscale(100%)"><img src="{{ asset('img/jetons/echange.svg') }}" alt="Action Echange"><span>Échange</span></button>
        {% endif %}
    </div>
</div>